
@{
    ViewData["Title"] = "Contact";
}

<h1 class="text-white text-center">Contact Me</h1>

<div class="contact-wrapper">
    <div class="contact-container">
        <div class="phone">
            <img src="~/images/icons8-phone-50.png" />
            <p>064 909 6448</p>
        </div>
        <div class="email">
            <img src="~/images/icons8-email-64 (1).png" />
            <p>durankoen@gmail.com</p>
        </div>
        <div class="address">
            <img src="~/images/icons8-address-64.png" />
            <p>7655,17 Vallei st, Wellington, Cape-Town</p>
        </div>
        <div class="github">
            <img src="~/images/icons8-github-48.png" />
            <p>Duran144</p>
        </div>
    </div>
</div>
