@{
    ViewData["Title"] = "Portfolio Of Duran Koen";
}

<div class="bio-wrapper">
    <div class="bio-container">
        <h1 class="text-white">Hi, i'm Duran</h1>
        <p class="text-white">
            Aspiring software developer from Wellington, Cape-Town.<br />
            If i'm not breaking and repairing my web applications<br />
            I'm usually playing soccer with friends, playing video games or listening to music.
        </p>
        <a class="projects-btn" asp-controller="Home" asp-action="Projects">My Projects</a>
    </div>
    <div class="img-container">
    </div>
</div>
