@{
    ViewData["Title"] = "Projects";
}

<h1 class="text-center text-white">My Projects</h1>

<div class="projects-wrapper">
    <div class="projects-container">
        <img src="~/images/tipcalculator2.png" />
        <div class="projects-description text-white">
            <h2>Tip Calculator</h2>
            <p>
                A tip calculator web application that allows you to enter the total amount that the table has ordered.
                Then allows you to split the bill amongst the people at the table, also you can enter the tip amount.
            </p>
            <h2>Features</h2>
            <ul>
                <li>Mobile-Friendly</li>
                <li>Ability to split the bill</li>
                <li>Displays an error if input is incorrect</li>
                <li>Able to enter amount of tip</li>
            </ul>
            <h2>Tech Stack</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>
            <a href="https://www.vercel.com/duran144/tip-calculator"><p>Live Site</p></a>
        </div>
    </div>

    <div class="projects-container">
        <img src="~/images/screenshot7.png" />
        <div class="projects-description text-white">
            <h2>Order Summary Component</h2>
            <p>A order summary component that displays the cost of an item</p>

            <h2>Features</h2>
            <ul>
                <li>Mobile-Friendly</li>
                <li></li>
            </ul>

            <h2>Tech Stack</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <a href="https://www.vercel.com/duran144/tip-calculator"><p>Live Site</p></a>
        </div>
    </div>

    <div class="projects-container">
        <img src="~/images/desktop (2).png" />
        <div class="projects-description text-white">
            <h2>SunnySide Agency</h2>
            <p>A website that has a visually appealing landing page with different sections.</p>

            <h2>Features</h2>
            <ul>
                <li>Mobile-Friendly</li>
            </ul>

            <h2>Tech Stack</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Sass</li>
            </ul>
            <a href="https://www.vercel.com/duran144/tip-calculator"><p>Live Site</p></a>
        </div>
    </div>
</div>